
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}


/*.grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    border: 1px solid black;
    gap: 1em;
  }
  .A {
   grid-column-start: 1;
   grid-row-start: 1;
  }
  .B {
   grid-column-start: 2;
   grid-row-start: 1;
  }
  .C {
   grid-column-start: 3;
   grid-row-start: 1;
  }
  .D {
   grid-column-start: 4;
   grid-row-start: 1;
  }
  .E {
   grid-column-start: 5;
   grid-row-start: 1;
  }
  .F {
   grid-column-start: 1;
   grid-row: 3 / 4;
  }
  .G {
   grid-column-start: 2;
   grid-row: 3 / 4;
   padding-top: 50px;
  }
  .H {
   grid-column-start: 3;
   grid-row: 3 / 4;
  }